@model OHGBabysitterKata.Models.BabysitterTime
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <br />
    <div class="form-group">
        <div class="col-md-2">
            <strong>Check In Time</strong>
            @Html.TextBoxFor(model => model.CheckIn, new { @type = "time", @class = "form-control" })
        </div>
        <div class="col-md-2">
            <strong>Check Out Time</strong>
            @Html.TextBoxFor(model => model.CheckOut, new { @type = "time", @class = "form-control" })
        </div>
        <div class="col-md-2">
            <strong>Bed Time</strong>
            @Html.TextBoxFor(model => model.Bedtime, new { @type = "time", @class = "form-control" })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Calculate" class="btn btn-default" />
        </div>
        <div class="col-md-4">
            @if (Model != null && String.IsNullOrEmpty(ViewBag.ErrorMsg))
            {
                @Html.Raw("<strong>Nightly Charges:</strong> " + Model.NightlyCharge.ToString() + "</span>");
            }

            @Html.Raw("<span style='color:red;'>" + ViewBag.ErrorMsg + "</span>")
        </div>
    </div>

    
}
